
<div *ngIf="drugs$ | async as drugs; else loading" class="search-container">
  <input type="text" [(ngModel)]="searchTerm" (change)="searchDrugs()" placeholder="Search drugs by name...">
</div>

<div *ngIf="drugs$ | async as drugs; else loading" class="drugs-table-container">
  <br/>
  <button (click)="addDrug()">Add Drug</button>
  <br/>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Prescription</th>
          <th>Stock</th>
          <th>Info</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let drug of drugs">
          <td><a [routerLink]="['/drug', drug.id]">{{ drug.name }}</a></td>
          <td>{{ drug.prescription ? 'Yes' : 'No' }}</td>
          <td>{{ drug.stock }}</td>
          <td>{{ drug.info }}</td>
          <td>&euro;{{ drug.price }}</td>
          <td *ngIf="userRole === 'admin'"><button (click)="deleteDrug(drug.id!)">Delete</button></td>
        </tr>
      </tbody>
    </table>
</div>


<ng-template #loading>
    <p>Loading drugs...</p>
</ng-template>
