.navbar {
    background-color: #333;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .navbar-links li {
    margin-right: 2rem;
  }

  .navbar-links{
    display: flex;
    list-style: none;
  }

  #page-contents {
    position: absolute;  
    text-align: center;  
    justify-content: space-between; 
    background-color: #333;  
    top: 50%;                 
    left: 50%;              
    transform: translate(-50%, -50%);  
    width: 80%;            
    max-width: 1000px;      
    padding: 20px;           
    border: solid 4px black; 
    border-radius: 4px;    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  }

  #logo{
    width: 50px;
    height: 50px;
  }
  
  /* footer.component.scss */
.footer {
    background-color: #333;
    color: white;
    padding: 0 0;
    position: absolute;
    margin-left: -8px;
    bottom: 0;
    width: 100%;
  }
  
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .footer-links {
    display: flex;
    gap: 15px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: #007bff;
  }
  