<div *ngIf="user; else loading">
  <h1>{{ user!.username }}'s Profile</h1>
  <p><strong>Role:</strong> {{ user!.role }}</p>
  <p *ngIf="user!.role === 'doctor'">
    <strong>Specialization:</strong> {{ user!.specialization || "N/A" }}
  </p>

  <!-- Allow appointment requests only if the user is a doctor -->
  <input
    type="date"
    [(ngModel)]="appointmentDate"
    *ngIf="user!.role === 'doctor'"
    [min]="minDate"
    placeholder="Choose Appointment Date"
  />
  <button
    *ngIf="loginState === true && user!.role === 'doctor'"
    (click)="bookAppointment()"
  >
    Request appointment
  </button>

  <!-- Show editable fields only if the user is a normal user -->
  <table *ngIf="user!.role === 'user'">
    <thead>
      <tr>
        <th>Age</th>
        <th>Drugs</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input
            type="number"
            min="0"
            max="120"
            [(ngModel)]="user!.age"
            (input)="updateAge()"
            *ngIf="isProfileOwner()"
          />
          <label *ngIf="!isProfileOwner()">{{ user.age }}</label>
        </td>
        <td>
          <ul>
            <li *ngFor="let drug of user.drugs">{{ drug.name }}</li>
          </ul>
        </td>
      </tr>


    </tbody>
  </table>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
