/* You can add global styles to this file, and also import other style files */
body{
  background-image: linear-gradient(to bottom, rgb(220, 236, 241), rgb(156, 235, 255));
  color: #000000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100vh; /* Make sure it covers the full viewport height */
  margin: 0;
}

a{
    display: flex;
    text-decoration: none;
    color: inherit;
    font-size: 1.1rem;
  }

  a:hover {
    text-decoration: underline;
  }

html, body { height: 100%; }
